.header {
display: grid;
grid-template-columns: 1fr min-content 1fr;
align-items: center;
padding-top: 92px;
padding-bottom: 96px;
padding-left: 50px;
padding-right: 50px;
min-height: 293px;
}

.header__logo {
  display: block;
  width: 148px;
  height: 105px;
}

.header__logo img {
  width: 100%;
}

.header__menu ul {
  display: flex;
  gap: 32px;
  list-style: circle;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
}

.header__link {
text-decoration: underline;
text-underline-offset: 4px;
}

.header__link_active {
text-decoration: none;
}

.header__menu li:first-child {
  list-style: none;
}

.header__address {
justify-self: end;
max-width: 240px;
font-style: normal;
font-size: 18px;
font-weight: 400;
text-underline-offset: 4px;
}

.cover {
  position: relative;
  background-image: url("../images/cover.jpg");
  min-height: 757px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 165px 50px 50px;
  display: flex;
  flex-direction: column;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title,
.cover__description {
position: relative;
z-index: 1;
}

.cover__title {
display: flex;
flex-direction: column;
justify-content: space-between;
gap: 20px;
font-size: 100px;
font-weight: 700;
line-height: 1.15;
text-transform: uppercase;
color: white;
letter-spacing: 0.3em;
}

.aligned-text {
display: block;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.cover__description-text {
display: flex;
color: rgba(255, 255, 255, 1);
font-size: 22px;
font-weight: 400;
text-transform: uppercase;
line-height: 28px;
word-spacing: 18px;
}

.bet-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid white;
  height: 51px;
  width: 256px;
  color: white;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.lots {
height: 723px;
margin-top: 180px;
margin-left: 24px;
}

.lots__heading {
font-size: 40px;
font-weight: 700;
line-height: 100%;
text-transform: uppercase;
margin-bottom: 27px;
margin-left: 40px;
}

.lots__card-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.card {
  position: relative;
  height: 100%;
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.lots__card-list-item {
width: 334px;
min-height: 596px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card_type_film {
background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
background-image: url("../images/card-lot-03.jpg");
}

.card__title,
.card__text {
  position: relative;
  z-index: 1;
}

.card__title {
  font-size: 22px;
  text-transform: uppercase;
  color: white;
  text-decoration: underline;
}

.card__text {
  font-size: 20px;
  color: white;
}

.lots__look-more-link {
  display: inline-block;
  margin-top: 30px;
  margin-left: 40px;
  font-size: 20px;
  font-weight: 400;
  text-decoration: underline;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 25px;
  margin: 120px 50px 0;
  height: 595px;
}

.about__column_logo {
  display: flex;
  justify-content: center;
}

.about__logo {
  width: 240px;
  height: 240px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
  margin-left: 47px;
}

.about__logo img {
  width: 148px;
}

.about__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  margin-top: 136px;

}

.about__text {
  display: flex;
  justify-content: start;
  margin-top: 100px;
  flex-direction: column;
  gap: 24px;
  font-size: 20px;
  line-height: 24px;
}

.footer {
display: grid;
grid-template-columns: 1fr auto 1fr;
padding: 180px 50px 90px;
}

.footer__address {
font-style: normal;
text-underline-offset: 4px;
font-size: 18px;
font-weight: 400;
line-height: 24px;
}

.footer__menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.footer__menu-link {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social {
  display: flex;
  justify-content: flex-end;
  gap: 48px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__social-item img {
  width: 48px;
  height: 48px;
}